version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: budget
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    container_name: nestjs
    build:
      context: ./backend
      dockerfile: dockerfile
    ports:
      - "3001:3001"
    environment:
      DATABASE_URL: "postgresql://admin:admin@postgres:5432/budget?schema=public"
      PORT: 3001
     
      JWT_SECRET: "1d24213fe12eb70c775191e1ba60004db161e3ce81be0abfe96c9cbd08c5d6dd"
    depends_on:
      - postgres

  frontend:
    container_name: nextjs
    build:
      context: ./frontend
      dockerfile: dockerfile
    ports:
      - "3000:3000"
    environment:
      NEXT_PUBLIC_API_URL: "http://backend:3001"
    depends_on:
      - backend

volumes:
  postgres_data: